body{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: flex-start;
    align-items: center;
}
.buttons{
    display:flex;
    justify-content: center;

    gap: 100px;
}
button{
    flex: 0 1 auto;
    width: 500 px;
    padding: 200px;
    background-color: black;
    border:2px solid white;
    border-radius: 10px;
    font-size: xx-large;
    color:white
}
.board{
    display:flex;
    justify-content:center;
    gap: 100px;
    width:700px;
    border-radius: 30px;
    border: 5px solid white;
}
.score{
    font-size: xx-large;
    color:white;
    max-width: 300px;
}